__Apply__
Apply Es un comando muy poderoso que nos deja aplicar funciones a nuestro DataFrame

In [19]:
import pandas as pd
df_ciclyng = pd.read_csv('/home/jann/Platzi/DataScience/CourseNumpyAndPandasBasic/stages_TDF (1).csv', sep =',')


def two_times(value):
    return value  + 2

In [25]:
df_ciclyng['Distance x2'] = df_ciclyng['Distance'].apply(two_times)
df_ciclyng

,Stage,Date,Distance,Origin,Destination,Type,Winner,Winner_Country,Distance x2,Distance x3
0,1,2017-07-01,14.0,Düsseldorf,Düsseldorf,Individual time trial,Geraint Thomas,GBR,16.0,42.0
1,2,2017-07-02,203.5,Düsseldorf,Liège,Flat stage,Marcel Kittel,GER,205.5,610.5
2,3,2017-07-03,212.5,Verviers,Longwy,Medium mountain stage,Peter Sagan,SVK,214.5,637.5
3,4,2017-07-04,207.5,Mondorf-les-Bains,Vittel,Flat stage,Arnaud Démare,FRA,209.5,622.5
4,5,2017-07-05,160.5,Vittel,La Planche des Belles Filles,Medium mountain stage,Fabio Aru,ITA,162.5,481.5
...,...,...,...,...,...,...,...,...,...,...
2231,2,1903-07-05,374.0,Lyon,Marseille,Stage with mountain(s),Hippolyte Aucouturier,FRA,376.0,1122.0
2232,3,1903-07-08,423.0,Marseille,Toulouse,Plain stage,Hippolyte Aucouturier,FRA,425.0,1269.0
2233,4,1903-07-12,268.0,Toulouse,Bordeaux,Plain stage,Charles Laeser,SUI,270.0,804.0
2234,5,1903-07-13,425.0,Bordeaux,Nantes,Plain stage,Maurice Garin,FRA,427.0,1275.0
2235,6,1903-07-18,471.0,Nantes,Paris,Plain stage,Maurice Garin,FRA,473.0,1413.0

In [24]:
df_ciclyng['Distance x3'] = df_ciclyng['Distance'].apply(lambda x:  x* 3)
df_ciclyng

,Stage,Date,Distance,Origin,Destination,Type,Winner,Winner_Country,Distance x2,Distance x3
0,1,2017-07-01,14.0,Düsseldorf,Düsseldorf,Individual time trial,Geraint Thomas,GBR,42.0,42.0
1,2,2017-07-02,203.5,Düsseldorf,Liège,Flat stage,Marcel Kittel,GER,610.5,610.5
2,3,2017-07-03,212.5,Verviers,Longwy,Medium mountain stage,Peter Sagan,SVK,637.5,637.5
3,4,2017-07-04,207.5,Mondorf-les-Bains,Vittel,Flat stage,Arnaud Démare,FRA,622.5,622.5
4,5,2017-07-05,160.5,Vittel,La Planche des Belles Filles,Medium mountain stage,Fabio Aru,ITA,481.5,481.5
...,...,...,...,...,...,...,...,...,...,...
2231,2,1903-07-05,374.0,Lyon,Marseille,Stage with mountain(s),Hippolyte Aucouturier,FRA,1122.0,1122.0
2232,3,1903-07-08,423.0,Marseille,Toulouse,Plain stage,Hippolyte Aucouturier,FRA,1269.0,1269.0
2233,4,1903-07-12,268.0,Toulouse,Bordeaux,Plain stage,Charles Laeser,SUI,804.0,804.0
2234,5,1903-07-13,425.0,Bordeaux,Nantes,Plain stage,Maurice Garin,FRA,1275.0,1275.0
2235,6,1903-07-18,471.0,Nantes,Paris,Plain stage,Maurice Garin,FRA,1413.0,1413.0

Apply en varias columnas con condiciones, hay que especificar a que los vamos a aplicar (filas o columnas)

In [31]:
df_ciclyng['Lambda']= df_ciclyng.apply(lambda x: x['Distance'] * 2 if x['Winner_Country'] == 'GBR' else x['Distance'], axis = 1)
df_ciclyng

,Stage,Date,Distance,Origin,Destination,Type,Winner,Winner_Country,Distance x2,Distance x3,Lambda
0,1,2017-07-01,14.0,Düsseldorf,Düsseldorf,Individual time trial,Geraint Thomas,GBR,16.0,42.0,28.0
1,2,2017-07-02,203.5,Düsseldorf,Liège,Flat stage,Marcel Kittel,GER,205.5,610.5,203.5
2,3,2017-07-03,212.5,Verviers,Longwy,Medium mountain stage,Peter Sagan,SVK,214.5,637.5,212.5
3,4,2017-07-04,207.5,Mondorf-les-Bains,Vittel,Flat stage,Arnaud Démare,FRA,209.5,622.5,207.5
4,5,2017-07-05,160.5,Vittel,La Planche des Belles Filles,Medium mountain stage,Fabio Aru,ITA,162.5,481.5,160.5
...,...,...,...,...,...,...,...,...,...,...,...
2231,2,1903-07-05,374.0,Lyon,Marseille,Stage with mountain(s),Hippolyte Aucouturier,FRA,376.0,1122.0,374.0
2232,3,1903-07-08,423.0,Marseille,Toulouse,Plain stage,Hippolyte Aucouturier,FRA,425.0,1269.0,423.0
2233,4,1903-07-12,268.0,Toulouse,Bordeaux,Plain stage,Charles Laeser,SUI,270.0,804.0,268.0
2234,5,1903-07-13,425.0,Bordeaux,Nantes,Plain stage,Maurice Garin,FRA,427.0,1275.0,425.0
2235,6,1903-07-18,471.0,Nantes,Paris,Plain stage,Maurice Garin,FRA,473.0,1413.0,471.0

In [38]:
df_ciclyng.describe()

          Distance  Distance x2  Distance x3       Lambda
count  2236.000000  2236.000000  2236.000000  2236.000000
mean    196.782994   198.782994   590.348983   201.642833
std      90.176385    90.176385   270.529156    94.686187
min       1.000000     3.000000     3.000000     1.000000
25%     156.000000   158.000000   468.000000   157.875000
50%     199.000000   201.000000   597.000000   201.000000
75%     236.000000   238.000000   708.000000   241.125000
max     482.000000   484.000000  1446.000000   485.000000