In [39]:
import pandas as pd
import  numpy as np
df_books = pd.read_csv('/home/jann/Platzi/DataScience/CourseNumpyAndPandasBasic/stages_TDF (1).csv', sep =',')
df_books

,Stage,Date,Distance,Origin,Destination,Type,Winner,Winner_Country
0,1,2017-07-01,14.0,Düsseldorf,Düsseldorf,Individual time trial,Geraint Thomas,GBR
1,2,2017-07-02,203.5,Düsseldorf,Liège,Flat stage,Marcel Kittel,GER
2,3,2017-07-03,212.5,Verviers,Longwy,Medium mountain stage,Peter Sagan,SVK
3,4,2017-07-04,207.5,Mondorf-les-Bains,Vittel,Flat stage,Arnaud Démare,FRA
4,5,2017-07-05,160.5,Vittel,La Planche des Belles Filles,Medium mountain stage,Fabio Aru,ITA
...,...,...,...,...,...,...,...,...
2231,2,1903-07-05,374.0,Lyon,Marseille,Stage with mountain(s),Hippolyte Aucouturier,FRA
2232,3,1903-07-08,423.0,Marseille,Toulouse,Plain stage,Hippolyte Aucouturier,FRA
2233,4,1903-07-12,268.0,Toulouse,Bordeaux,Plain stage,Charles Laeser,SUI
2234,5,1903-07-13,425.0,Bordeaux,Nantes,Plain stage,Maurice Garin,FRA
2235,6,1903-07-18,471.0,Nantes,Paris,Plain stage,Maurice Garin,FRA

##__Drop Columns__

In [20]:
#DELETE OF THE VIEW
df_books.drop("Stage", axis=1)

,Date,Distance,Origin,Destination,Type,Winner,Winner_Country
0,2017-07-01,14.0,Düsseldorf,Düsseldorf,Individual time trial,Geraint Thomas,GBR
1,2017-07-02,203.5,Düsseldorf,Liège,Flat stage,Marcel Kittel,GER
2,2017-07-03,212.5,Verviers,Longwy,Medium mountain stage,Peter Sagan,SVK
3,2017-07-04,207.5,Mondorf-les-Bains,Vittel,Flat stage,Arnaud Démare,FRA
4,2017-07-05,160.5,Vittel,La Planche des Belles Filles,Medium mountain stage,Fabio Aru,ITA
...,...,...,...,...,...,...,...
2231,1903-07-05,374.0,Lyon,Marseille,Stage with mountain(s),Hippolyte Aucouturier,FRA
2232,1903-07-08,423.0,Marseille,Toulouse,Plain stage,Hippolyte Aucouturier,FRA
2233,1903-07-12,268.0,Toulouse,Bordeaux,Plain stage,Charles Laeser,SUI
2234,1903-07-13,425.0,Bordeaux,Nantes,Plain stage,Maurice Garin,FRA
2235,1903-07-18,471.0,Nantes,Paris,Plain stage,Maurice Garin,FRA

In [21]:
#Delete of the Data frame
df_books.drop("Stage", axis=1,inplace=True)
#Or Use python to delete.
del df_books["Date"]

In [22]:
df_books

,Distance,Origin,Destination,Type,Winner,Winner_Country
0,14.0,Düsseldorf,Düsseldorf,Individual time trial,Geraint Thomas,GBR
1,203.5,Düsseldorf,Liège,Flat stage,Marcel Kittel,GER
2,212.5,Verviers,Longwy,Medium mountain stage,Peter Sagan,SVK
3,207.5,Mondorf-les-Bains,Vittel,Flat stage,Arnaud Démare,FRA
4,160.5,Vittel,La Planche des Belles Filles,Medium mountain stage,Fabio Aru,ITA
...,...,...,...,...,...,...
2231,374.0,Lyon,Marseille,Stage with mountain(s),Hippolyte Aucouturier,FRA
2232,423.0,Marseille,Toulouse,Plain stage,Hippolyte Aucouturier,FRA
2233,268.0,Toulouse,Bordeaux,Plain stage,Charles Laeser,SUI
2234,425.0,Bordeaux,Nantes,Plain stage,Maurice Garin,FRA
2235,471.0,Nantes,Paris,Plain stage,Maurice Garin,FRA

##__Drop rows__

In [30]:
#Drop column 3 of the view.
df_books.drop(3,axis = 0).head(10)
#Using range
df_books.drop(range(4,7),axis = 0).head(10)

,Distance,Origin,Destination,Type,Winner,Winner_Country
0,14.0,Düsseldorf,Düsseldorf,Individual time trial,Geraint Thomas,GBR
1,203.5,Düsseldorf,Liège,Flat stage,Marcel Kittel,GER
2,212.5,Verviers,Longwy,Medium mountain stage,Peter Sagan,SVK
3,207.5,Mondorf-les-Bains,Vittel,Flat stage,Arnaud Démare,FRA
7,187.5,Dole,Station des Rousses,Medium mountain stage,Lilian Calmejane,FRA
8,181.5,Nantua,Chambéry,High mountain stage,Rigoberto Urán,COL
9,178.0,Périgueux,Bergerac,Flat stage,Marcel Kittel,GER
10,203.5,Eymet,Pau,Flat stage,Marcel Kittel,GER
11,214.5,Pau,Peyragudes,High mountain stage,Romain Bardet,FRA
12,101.0,Saint-Girons,Foix,High mountain stage,Warren Barguil,FRA

## __add Columns__

In [33]:
df_books['Nueva_Columna'] = np.nan
df_books

,Stage,Date,Distance,Origin,Destination,Type,Winner,Winner_Country,Nueva_Columna
0,1,2017-07-01,14.0,Düsseldorf,Düsseldorf,Individual time trial,Geraint Thomas,GBR,NaN
1,2,2017-07-02,203.5,Düsseldorf,Liège,Flat stage,Marcel Kittel,GER,NaN
2,3,2017-07-03,212.5,Verviers,Longwy,Medium mountain stage,Peter Sagan,SVK,NaN
3,4,2017-07-04,207.5,Mondorf-les-Bains,Vittel,Flat stage,Arnaud Démare,FRA,NaN
4,5,2017-07-05,160.5,Vittel,La Planche des Belles Filles,Medium mountain stage,Fabio Aru,ITA,NaN
...,...,...,...,...,...,...,...,...,...
2231,2,1903-07-05,374.0,Lyon,Marseille,Stage with mountain(s),Hippolyte Aucouturier,FRA,NaN
2232,3,1903-07-08,423.0,Marseille,Toulouse,Plain stage,Hippolyte Aucouturier,FRA,NaN
2233,4,1903-07-12,268.0,Toulouse,Bordeaux,Plain stage,Charles Laeser,SUI,NaN
2234,5,1903-07-13,425.0,Bordeaux,Nantes,Plain stage,Maurice Garin,FRA,NaN
2235,6,1903-07-18,471.0,Nantes,Paris,Plain stage,Maurice Garin,FRA,NaN

## __Add rows__

In [46]:
#append method in df_books.
df_books.append(df_books)

/tmp/ipykernel_9123/123084459.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_books.append(df_books)

,Stage,Date,Distance,Origin,Destination,Type,Winner,Winner_Country
0,1,2017-07-01,14.0,Düsseldorf,Düsseldorf,Individual time trial,Geraint Thomas,GBR
1,2,2017-07-02,203.5,Düsseldorf,Liège,Flat stage,Marcel Kittel,GER
2,3,2017-07-03,212.5,Verviers,Longwy,Medium mountain stage,Peter Sagan,SVK
3,4,2017-07-04,207.5,Mondorf-les-Bains,Vittel,Flat stage,Arnaud Démare,FRA
4,5,2017-07-05,160.5,Vittel,La Planche des Belles Filles,Medium mountain stage,Fabio Aru,ITA
...,...,...,...,...,...,...,...,...
2231,2,1903-07-05,374.0,Lyon,Marseille,Stage with mountain(s),Hippolyte Aucouturier,FRA
2232,3,1903-07-08,423.0,Marseille,Toulouse,Plain stage,Hippolyte Aucouturier,FRA
2233,4,1903-07-12,268.0,Toulouse,Bordeaux,Plain stage,Charles Laeser,SUI
2234,5,1903-07-13,425.0,Bordeaux,Nantes,Plain stage,Maurice Garin,FRA
2235,6,1903-07-18,471.0,Nantes,Paris,Plain stage,Maurice Garin,FRA