In [6]:
import pandas as pd

In [17]:

psg_players = pd.Series(["navas","Mbappe","neymar","messi"], index =[1,7,10,30])
psg_players

1      navas
7     Mbappe
10    neymar
30     messi
dtype: object

In [19]:
psg_players = pd.Series(["navas","Mbappe","neymar","messi"] )
psg_players

0     navas
1    Mbappe
2    neymar
3     messi
dtype: object

In [22]:
psg_players = pd.Series({1:"Navas",2:"Mbappe",3:"Neymar",4:"Messi"})
psg_players
psg_players[2]

'Mbappe'

In [36]:
cars_dataFrame = pd.DataFrame({'brain':['bmw','Mercedez','Ford','Dodge'],'Anno':['2005','2000','1995','2009'], 'cc':[ 200,300,400,500]})
cars_dataFrame

      brain  Anno   cc
0       bmw  2005  200
1  Mercedez  2000  300
2      Ford  1995  400
3     Dodge  2009  500

In [37]:
granada_dic ={'Jugador':['Luis Suarez','Jorge Molina', 'Antonio Puertas', 'German Sanchez', 'Luis Milla', 'Luis Manuel Arantes Maximiano'],

'Posicion':['Delantero', 'Delantero', 'Centrocampista', 'Defensa', 'Centrocampista', 'Portero'],

'Numero':[9, 23, 10, 6, 5, 1],

'Altura':[185.0, 187.0, 185.0, 187.0, 175.0, 190.0],

'Goles':[7, 7, 5, 2, 2, 0]}

In [39]:
granada_frame = pd.DataFrame(granada_dic)
granada_frame

                         Jugador        Posicion  Numero  Altura  Goles
0                    Luis Suarez       Delantero       9   185.0      7
1                   Jorge Molina       Delantero      23   187.0      7
2                Antonio Puertas  Centrocampista      10   185.0      5
3                 German Sanchez         Defensa       6   187.0      2
4                     Luis Milla  Centrocampista       5   175.0      2
5  Luis Manuel Arantes Maximiano         Portero       1   190.0      0